$main-color: #a8b19d;
$text-color-darker: #797979;
$text-color-lighter: #eeeeee;
$background-card: rgba(0, 0, 0, .1);
$background-spinner: rgba(0, 0, 0, .1);
$background-lighter: #d5d5d5;
$assigned-color: #12861a;

$header-height: 100px;
$footer-height: 50px;

$invalid-color: #f44336;

