<div class="board-control-panel">
  <mat-form-field appearance="fill" class="select">
    <mat-label>Board</mat-label>
    <mat-select (selectionChange)="selectBoard($event.value)" [value]="selectedBoard">
      <mat-option *ngFor="let board of (board$ | async)" [value]="board.id">
        {{board.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="buttons">
    <button
      class="board-button"
      onclick="this.blur()"
      mat-raised-button
      color="primary"
      (click)="createBoard()">
      Add Board</button>
    <button
      class="board-button"
      onclick="this.blur()"
      mat-raised-button
      color="warn"
      (click)="deleteBoard()">
      Delete Board</button>
  </div>
  <h3 class="title" *ngIf="!isEdit" (dblclick)="startEditTitle()">{{ boardTitle$ | async }}</h3>
  <div class="edit-board-title" *ngIf="selectedBoard" #editBoardTitleRef>
    <form [formGroup]="boardForm" (ngSubmit)="updateBoardTitle()" *ngIf="isEdit">
      <input
        class="input-title"
        type="text"
        autofocus
        #boardTitle
        formControlName="titleBoard">
      <button type="submit" style="display: none"></button>
    </form>
    <div class="control" *ngIf="!isEdit; else editControl">
      <span class="material-icons edit start-edit-title" (click)="startEditTitle()">edit</span>
    </div>
    <ng-template #editControl>
      <div class="control">
        <span class="material-icons done" (click)="updateBoardTitle()">done</span>
        <span class="material-icons close" (click)="stopEdit()">close</span>
      </div>
    </ng-template>
  </div>
</div>
<div class="not-found" *ngIf="!currentBoard && canShow">
  <span class="not-found-board">404. Board with "id" = "{{ boardId$ | async }}" wasn't found!</span>
</div>
<main class="main"
      cdkDropList
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="columns"
      [cdkDropListDisabled]="isEditColumn || isTaskAdd">
  <div
    class="columns"
    cdkDropListGroup
    (click)="disableAddColumn()"
    *ngIf="currentBoard && canShow">
    <app-column
      class="drag-item"
      cdkDrag
      [column]="column"
      *ngFor="let column of columns;"
      (newTask)="newTask($event)"
      (taskAdd)="taskAdd($event)"
      (editColumn)="editColumn($event)"
      [isTaskAdd]="isTaskAdd"
      [isEditColumn]="isEditColumn"
      [board]="currentBoard"
      (mousedown)="this.closeEdits()">
    </app-column>
  </div>
  <mat-card class="add-column" (click)="addColumn()" *ngIf="currentBoard">
    <ng-container *ngIf="!isAddColumn">
      <span class="plus">+</span>
      <span class="text">Add column</span>
    </ng-container>
    <div class="add-column-container" *ngIf="isAddColumn" #addColumnContainer>
      <form [formGroup]="createFormColumn" (ngSubmit)="createColumn()">
        <input
          class="input-title"
          type="text"
          formControlName="titleColumn"
          #columnTitle
          autofocus>
      </form>
      <div class="control">
        <span class="material-icons edit" (click)="createColumn()">done</span>
        <span class="material-icons close" (click)="cancel($event)">close</span>
      </div>
    </div>
  </mat-card>
</main>
