<div class="auth">
  <form [formGroup]="auth" class="form" (ngSubmit)="login()">
    <mat-form-field appearance="fill">
      <mat-label>Enter your login</mat-label>
      <input
        matInput
        formControlName="login">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input
        matInput [type]="hide ? 'password' : 'text'"
        formControlName="password">
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hide = !hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
</div>
